@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body{
    margin: 0%;
    font-family: 'Oxygen', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(4,189,40,1) 0%, rgba(0,212,255,1) 100%);
    padding-top: 80px;
}
.inner .img img{
    width: 130px;
    border: 2px solid black;
    border-radius: 50%;
}
.inner .img p{
    color: #fff;
    font-weight: 600;
}
body hr{
    background-color: #000;
}
.hr3{
    width: 250px;
}
.hr2{
    width: 213px;
}
.hr1{
    width: 270px;
}
.inner .about{
    margin-bottom: 20px;
}
.inner .about div{
    margin-top: 20px;
}
.inner .about div a{
    border: 3px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 40px;
    color: crimson;
    border-radius: 30px;
}
.link_inner{
    display: flex;
    justify-content: center;
}
.link_inner div{
    margin: 3px 3px;
    border-radius: 20px;
}
.link_inner div a i{
    color: #fff;
    padding: 10px 50px;
    font-size: 20px;
}
.card_inner{
    display: flex;
}
.card .cardbody{
    text-align: center;
    width: auto;
}
.card .cardbody span{
    font-weight: 700;
}
.card .cardbody img{
    width: 100px;
}
.mar_link{
    margin: 21px 0px;
}
.mar_link a{
    text-decoration: none;
    background-color: purple;
    color: #fff;    
    padding: 8px 20px;
    border-radius: 50px;
}
.mar_link a:hover{
    color: #fff;
    border: 2px solid rebeccapurple;
}
.tel_inner div{
    margin: 25px 0px;
}
.tel_inner div a{
    color: #fff;
    background-color: brown;
    padding: 10px 15px;
    border-radius: 20px;
}
.tel_inner div a:hover{
    border: 2px solid black;
}